---
---

<section>
  <div class="list">
    <div class="flex flex-row">
      <img
        class="h-32 w-24 p-6"
        alt="fullstack logo"
        src="https://res.cloudinary.com/dsvltch46/image/upload/v1670728729/Astro%20Portfolio/Images/fullstack_academy_logo_xgm6h3.png"
      />
      <div class="flex flex-col justify-center">
        <p class="text-2xl">San Jose State University Tech Bootcamp</p>
        <p>Powered by Fullstack Academy</p>
        <p>Full Stack Web Development Certificate</p>
        <p>September 2022 - December 2022</p>
      </div>
    </div>
    <div class="flex flex-row">
      <img
        class="h-32 w-32 p-2"
        alt="UCSB logo"
        src="https://res.cloudinary.com/dsvltch46/image/upload/v1670728732/Astro%20Portfolio/Images/ucsb_logo_ozyjpb.gif"
      />
      <div class="flex flex-col justify-center">
        <p class="text-2xl">University of California, Santa Barbara</p>
        <p>Bachelor of Arts in English</p>
        <p>September 2016 - June 2019</p>
      </div>
    </div>
  </div>
</section>

<style></style>
