---
---

<div>
  <div class="cardContainer">
    <div class="container flex flex-row m-4">
      <div class="card border flex items-center flex-col p-6 m-4">
        <p class="text-2xl mb-6">Tesla</p>
        <img
          class="h-36 rounded-full"
          alt="tesla"
          src="https://res.cloudinary.com/dsvltch46/image/upload/v1670731226/Astro%20Portfolio/Images/Tesla_logo_yvlkpi.png"
        />
        <p class="text-2xl mt-6">Fitter Technician</p>
        <p class="mt-6 mb-2">June 2021 - February 2022</p>
        <p>
          ● Built and assembled Tesla’s high end Model S and X Plaids with over
          130 units shipped a day.
        </p>
        <p>
          ● Mentored new hires throughout the assembly line process with more
          than seven individual stations.
        </p>
        <p>
          ● Frequently communicated with engineers on repairs and issues in
          regards to efficiency on the assembly line and broke down complex
          technical instructions to be easily understood.
        </p>
        <p>
          ● Furthered responsibilities with aiding team leads on assigning
          individual duties, as well as leadership responsibility to stop the
          entire assembly line for repairs or otherwise.
        </p>
        <p>
          ● Contributed in Tesla’s 2021 record breaking Quarter 3 term with a
          79% increase in cars delivered.
        </p>
      </div>

      <div class="card border flex flex-col items-center p-6">
        <p class="text-2xl mb-6">China Center Restaurant</p>
        <img
          class="h-36 rounded-full"
          alt="China Center Restaurant"
          src="https://res.cloudinary.com/dsvltch46/image/upload/v1670731230/Astro%20Portfolio/Images/China_Center_onhjel.png"
        />
        <p class="text-2xl mt-6">Chef & Waiter</p>
        <p class="mt-6 mb-2">May 2012 - June 2021</p>
        <p>
          ● Oversaw both front and back of house with a fast-paced kitchen
          environment.
        </p>
        <p>
          ● Created a customer-focused dining experience by anticipating
          customer needs, finding solutions for customer concerns, and
          collaborating with restaurant staff during busy times.
        </p>
        <p>
          ● Catered up to 70 guests per night and ensured all meals are served
          on time.
        </p>
      </div>
    </div>
  </div>
</div>

<style>
  .card {
    box-shadow: 0 10px 5px rgb(236, 236, 236);
  }
  img {
    box-shadow: 0 10px 40px rgb(129, 223, 199);
  }
</style>
