---
const currentYear = new Date().getFullYear();

import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
---

<footer>
  &copy; {currentYear} Wilson Chen
  <div>wilsonrchen@gmail.com</div>
  <small class="byline">🚀 Built by Astro</small>
</footer>
<style>
  footer {
    text-align: center;
    padding-top: 8rem;
    padding-right: 2rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
    background-color: black;
    color: white;
  }

  .byline {
    display: block;
    margin-top: 1rem;
    color: var(--t-subdue);
    font-size: var(--f-d2);
    text-transform: uppercase;
  }
</style>
