---
const currentYear = new Date().getFullYear();

import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
---

<footer>
  &copy; {currentYear} Wilson Chen
  <div>wilsonrchen@gmail.com</div>
  <small class="byline">Thanks for stopping by!</small>
</footer>
<style>
  footer {
    text-align: center;
    padding-top: 8rem;
    padding-right: 2rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
    background-color: black;
    color: white;
    width: 100vw;
  }

  .byline {
    display: block;
    margin-top: 1rem;
    color: var(--t-subdue);
    font-size: var(--f-d2);
    text-transform: uppercase;
  }

  @media screen and (max-width: 550px) {
    footer {
      width: 120vw;
    }
  }
</style>
