---
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import {
  faFacebook,
  faGithub,
  faInstagram,
  faLinkedin,
} from "@fortawesome/free-brands-svg-icons";
---

<nav class="bg-black">
  <a class="link" href="/">
    <div class="monogram">WC</div>
  </a>
  <a class="link" href="/projects/"> Portfolio</a>
  <a class="link" href="/about/"> About</a>
  <div class="socials">
    <a class="social" href="https://github.com/Wilsonrchen">
      <div class="socialIcon">
        <FontAwesomeIcon icon={faGithub} color="4d4d4e" />
      </div>
    </a>
    <a class="social" href="https://www.linkedin.com/in/wilsonrchen/">
      <div class="socialIcon">
        <FontAwesomeIcon icon={faLinkedin} color="4d4d4e" />
      </div>
    </a>
    <a class="social" href="https://www.instagram.com/wilsonrchen/">
      <div class="socialIcon">
        <FontAwesomeIcon icon={faInstagram} color="4d4d4e" />
      </div>
    </a>
    <a class="social" href="https://www.facebook.com/wilson.r.chen/">
      <div class="socialIcon">
        <FontAwesomeIcon icon={faFacebook} color="4d4d4e" />
      </div>
    </a>
  </div>
</nav>

<style>
  nav {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    width: 100%;
    justify-content: center;
  }

  .link {
    color: var(--t-subdue);
    display: block;
    text-decoration: none;
    font-size: var(--f-d1);
    text-transform: uppercase;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
  }

  .link:hover,
  .link:focus {
    color: var(--t-active);
  }

  .monogram {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    margin-right: 0.5rem;
    color: var(--c-white);
    font-weight: 900;
    letter-spacing: -0.125rem;
    border: 3px solid currentColor;
    border-radius: 50%;
  }

  .socials {
    display: flex;
    gap: 0.75em;
    margin-left: auto;
  }

  .social {
    display: block;
  }

  .socialIcon {
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    fill: var(--t-subdue);
    transition: fill linear 150ms;
  }

  .socialIcon:hover {
    fill: var(--t-active);
    color: white;
  }
  @media screen and (max-width: 550px) {
    nav {
      width: 120vw;
    }
  }
</style>
